<div class="container">
  <main>
    <div class="py-5 text-center">
      
    </div>
      <h2>edit user</h2>

    <div class="row g-5">
 
      <div class="col-md-12 col-lg-12">
        <h4 class="mb-3"></h4>
        <form class="needs-validation" action="/admin/updateUser/{{user._id}}" method="post" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" name="fname" class="form-control" id="firstName" placeholder="" value="{{user.fname}}" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" name="lname" class="form-control" id="lastName" placeholder="" value="{{user.lname}}" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-6">
              <label for="username" class="form-label">phone number</label>
              <div class="input-group has-validation">
                <input type="number" name="number" class="form-control" id="username" placeholder="phone" value="{{user.number}}" required>
              <div class="invalid-feedback">
                  enter your phone
                </div>
              </div>
            </div>

            <div class="col-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="mail" class="form-control" id="email" placeholder="you@example.com" value="{{user.mail}}">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            {{!-- <div class="col-6">
              <label for="address" class="form-label">password</label>
              <input type="password" name="password" class="form-control" id="pass" placeholder="password" value="" required>
              <div class="invalid-feedback">
                Please provide a password.
              </div>
            </div>

            <div class="col-6">
              <label for="address" class="form-label">password Re-enter</label>
              <input type="password" name="password-r" class="form-control" id="pass-r" placeholder="password" required>
              <div class="invalid-feedback">
                Re enter  password.
              </div>
            </div> --}}

    
           <a href="/admin" class="w-25 btn btn-warning btn-lg mt-5 mx-auto">back</a>
          <button class="w-25 btn btn-success btn-lg mt-5 mx-auto" type="submit">edit user</button>
          
          
        </form>
      </div>
    </div>
  </main>
</div>